.news_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4B6F8F;
    align-items: flex-start;
    width: 100%;
}

.news_head {
    padding: 0px 43px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.news_top {
    padding: 0px 43px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    color: white;

}

.news_top p {
    color: white;

}

.news_top_head_p {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 45px;
    line-height: 132%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #FFFFFF;

}

.news_top_head_vm {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 124%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #FFFFFF;

}

.news_section_div {
    width: 100%;
    height: 445px;
}

.news_section_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}