.published_section {
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.published_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.published_top_head_p {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 45px;
    line-height: 132%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;

}

.published_top_head_p_cc {
    color: #FFFFFF;

}

.published_top_head_vm {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 124%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;

}

.published_top_head_vm_cc {
    color: #FFFFFF;
}

.published_bottom {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.published_bottom1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.published_bottom1_cont {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
}

.published_bottom1_image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 55%;
    height: 100%;
}

.bottom1_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.published_bottom1_p1 {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
    max-width: 80%;
}

.published_bottom1_p1_cc,
.published_bottom1_p2_cc,
.published_bottom1_p3_cc {
    color: #FFFFFF;
}

.published_bottom1_p2 {
    max-width: 100%;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;

}

.published_bottom1_p3 {
    max-width: 90%;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

}

.published_bottom2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.published_bottom2_cc p {
    color: #FFFFFF;
}