.published_section {
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.published_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.published_top_head_p {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 45px;
    line-height: 132%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;

}

.published_top_head_p_cc {
    color: #FFFFFF;

}

.published_top_head_vm {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 124%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;

}

.published_top_head_vm_cc {
    color: #FFFFFF;
}

.published_bottom {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.published_bottom1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.published_bottom1_cont {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
}

.published_bottom1_image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 55%;
    height: 100%;
}

.bottom1_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.published_bottom1_p1 {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
    max-width: 80%;
}

.published_bottom1_p1_cc,
.published_bottom1_p2_cc,
.published_bottom1_p3_cc {
    color: #FFFFFF;
}

.published_bottom1_p2 {
    max-width: 100%;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;

}

.published_bottom1_p3 {
    max-width: 90%;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

}

.published_bottom2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.published_bottom2_cc p {
    color: #FFFFFF;
}

@media (max-width:599px) {
    .published_section {
        gap: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .published_section_cc {
        gap: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .published_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }

    .published_top_cc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }

    .published_top_head_p {
        width: 80%;
        text-align: start;
        color: #111927;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 24px;
        line-height: 132%;
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: capitalize;
    }

    .published_top_head_p_cc {
        color: #FFFFFF;

    }

    .published_top_head_vm {
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 124%;
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: capitalize;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
        color: #111111;

    }

    .published_top_head_vm_cc {
        color: #FFFFFF;
    }

    .published_bottom {
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .published_bottom1 {
        display: none;
    }

    .published_bottom1_cont {
        display: none;
    }

    .published_bottom1_image {
        display: none;
    }

    .bottom1_image {
        display: none;
    }

    .published_bottom1_p1 {
        display: none;
    }

    .published_bottom1_p1_cc,
    .published_bottom1_p2_cc,
    .published_bottom1_p3_cc {
        color: #FFFFFF;
    }

    .published_bottom1_p2 {
        display: none;
    }

    .published_bottom1_p3 {
        display: none;
    }

    .published_bottom2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        width: 100%;
    }

    .published_bottom2_cc {
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scrollbar-width: thin;
        scrollbar-color: #888 #f0f0f0;
        scroll-snap-type: x mandatory;
        gap: 24px;
        width: 100%;
    }

    .published_bottom2_cc p {
        color: #FFFFFF;
    }

}