.Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 43px;
    margin: 50px 0px;
    gap: 30px;
    z-index: 2;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.top_head {
    width: 70%;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 52px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;

}

.top_para {
    font-weight: 400;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    line-height: 128%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-transform: capitalize;

}

.bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
}

.bot_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:599px) {
    .Body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        gap: 30px;
        z-index: 2;
    }

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 8px;
    }

    .top_head {
        width: 90%;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: 0%;
    }

    .top_para {
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        line-height: 128%;
        letter-spacing: 0%;
        vertical-align: bottom;
        text-transform: capitalize;

    }

    .bot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 550px;
    }

    .bot_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}