.filter {
    min-width: 100px;
    border: 1px solid #1111111A;
    border-radius: 100px;
    height: 40px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p_filter {
    white-space: nowrap;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-align: center;
    color: #111111;
}

.filter_w {
    border: 1px solid #FCFCFD;
    border-radius: 100px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    height: 40px;
    border-radius: 100px;
    min-width: 100px;
}

.p_filter_w {
    text-align: center;
    color: #FCFCFD;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: bottom;
    width: 100%;
}

@media (max-width:599px) {

    .filter {
        border: 1px solid #1111111A;
        border-radius: 28px;
        height: 40px;
        min-width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        scroll-padding: 0px 16px;
    }

    .p_filter {
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: bottom;
        color: #111111;
        margin: 10px;
    }

    .filter_w {
        border: 1px solid #FCFCFD;
        border-radius: 100px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: max-content;
        min-width: max-content;
    }

    .p_filter_w {
        font-weight: 400;
        font-style: Regular;
        font-size: 13.39px;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: bottom;
        color: #FCFCFD;
    }
}