.guides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bgc {
    position: absolute;
    top: 0;
    width: 100%;
    height: 888px;
    background-color: #F3F4F6;
}

.top {
    width: 95%;
    height: 161px;
    margin-top: 50px;
    padding: 0px 43px;
    background-color: #C8C8C8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.top_p {
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 44px;
    line-height: 132%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}

.top_Image_div {
    position: absolute;
    bottom: -360px;
    right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 575px;
    z-index: 0;
}

.top_Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.filter {
    display: none;
}

.cafe_guide_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 43px;
}

.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width:599px) {
    .guides {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        padding: 0px 16px;
        margin: 0;
    }

    .top {
        margin-top: 20px;
        padding: 0px;
        width: 100%;
        height: 121px;
        background-color: #C8C8C8;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }

    .top_p {
        height: 44px;
        margin-top: 11px;
        font-size: 16px;
        margin-left: 13px;
        max-width: 70%;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #FFFFFF;
    }

    .top_Image_div {
        position: absolute;
        bottom: -60px;
        right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 184px;
    }

    .top_Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bgc {
        position: absolute;
        top: 0;
        width: 100%;
        height: 642px;
        z-index: -1;
        background-color: #F3F4F6;
    }

    .filter {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 8px;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: #888 #f0f0f0;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        scroll-padding: 5px;
    }

    .cafe_guide_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

}